<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS Bundle (includes Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Include Razorpay script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js" defer></script>
    <!-- Your other scripts -->

    <!-- Include Razorpay script -->

    <!-- Your other scripts -->


    </script>


    <!-- Your script using Razorpay -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <!-- Include SweetAlert CDN in your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <title>Shopping Cart</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Add these lines in the head section of your HTML file -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Add these lines in the head section of your HTML file -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Add these lines in the head section of your HTML file -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <title>Document</title>
</head>
<body>
    



<%- include('../partials/user-header.ejs') %>

  <script>
      
    $(document).ready(function () {
      $("#btnn").click(function () {
        $("#prof-div").toggle();
      });
    });
  
  </script>

    <style>
        button {
            background-color: Blue;
            /* Green */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    </style>
<!-- Other HTML content above -->




    <div style="background-color: rgb(243, 243, 243); position:relative;margin-top:5%;"
        class="outer-container container-fluid vw-100 d-flex">
        <div style="width: 50rem;" class="container-fluid mt-3 ms-5">
            <div class="header d-flex align-items-center justify-content-between">
                <h3 class="h4 user-text fw-bold mb-3">Checkout Page</h3>
                <input id="addAddress" class="btn user-btn" type="button"style="background-color:#4CAF50" value="New Address">
            </div>

            <div class="header d-flex flex-column align-items-center justify-content-between">
                <form action="/checkout/new-address" method="post" class="add-form container d-none"
                    id='addressDetails'>
                    <div class="row">
                        <div class="row col-md-6 me-3">
                            <label for="form">Name</label>
                            <input name="address_cust_name" type="text" class="form-control" required>
                        </div>
                        <div class="row col-md-6">
                            <label for="form">Phone</label>
                            <input name="phone" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col-md-6 me-3">
                            <label for="form">House Name</label>
                            <input name="house_name" type="text" class="form-control" required>
                        </div>
                        <div class="row col-md-6">
                            <label for="form">Area/Street</label>
                            <input name="area_street" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col-md-6 me-3">
                            <label for="form">Locality</label>
                            <input name="locality" type="text" class="form-control" required>
                        </div>
                        <div class="row col-md-6">
                            <label for="form">Town</label>
                            <input name="town" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col-md-6 me-3">
                            <label for="form">State</label>
                            <select class="form-select" name="state">
                                <option value="india">Select State</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and
                                    Daman
                                    and
                                    Diu
                                </option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Puducherry">Puducherry</option>
                            </select>
                        </div>
                        <div class="row col-md-6">
                            <label for="form">Pincode</label>
                            <input name="pincode" type="number" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col-md-6 me-3">
                            <label for="form">Landmark</label>
                            <input name="landmark" type="text" class="form-control" required>
                        </div>
                        <div class="row col-md-6">
                            <label for="form">Alternate Phone</label>
                            <input name="alternate_phone" type="number" class="form-control">
                            <input name="customer_id" type="hidden" value="<%=userData._id%>" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="HOME" name="address_type"
                                id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                HOME
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="WORK" type="radio" name="address_type"
                                id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                WORK
                            </label>
                        </div>
                    </div>
                    <div class="row mt-2 mb-3 d-flex ">
                        <input class="btn but col-md-3 user-btn btn-lg" type="submit" />
                        <input class="ml-2 btn col-md-3 but clear-btn btn-lg" type="reset" autocomplete="on"
                            value="Clear" />

                        <a id="upButton" class="btn col-md-1 ms-3 user-btn"><i class="fa-solid fa-angle-up"></i></a>

                    </div>
                </form>

                <form id="orderForm">

                    <% address.forEach((item)=> { %>
                        <div class="address-container d-flex align-items-center">
                            <div class="form-check me-3">
                                <input id="addressInput" class="form-check-input" type="radio"style="background-color:green" name="address"
                                    value="<%= item._id %>" name="flexRadioDefault" required>
                            </div>
                            <div class="row card pt-3 mt-2 col-md-12">
                                <div class="headercont d-flex justify-content-between">
                                    <div style="width: 5rem;" class="btn btn-sm btn-light">
                                        <%= item.address_type %>
                                    </div>
                                </div>
                                <p class="h5">
                                    <%= item.address_cust_name %> &emsp; <%= item.phone %>
                                </p>
                                <p class="text-normal">
                                    <%= item.house_name %>(H),
                                        <%= item.locality %>,
                                            <%= item.area_street %>,
                                                <%= item.landmark %>,
                                                    <%= item.state %>
                                                        <span class="fw-bold">
                                                            -<%= item.pincode %>
                                                        </span>
                                </p>
                            </div>
                        </div>
                        <div class="status fw-bold text-success">
                            <% if(item.status)%>
                        </div>
                        <hr>
                        <% }); %>


                        <input id="proceedPayment" class="btn user-btn mb-5" type="button"
                        value="Continue to Payment" style="background-color: #4CAF50; /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 4px 2px;
                        cursor: pointer;">
                    
                            <div class="payment-options">
                                <div class="user-text h6 mb-2">Payment Options</div>
                                <div class="form-check">
                                    <input class="form-check-input" value="COD" type="radio" name="payment_method" id=""
                                        checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Cash On Delivery
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" value="wallet" type="radio" name="payment_method"
                                        id="" checked>
                                    <label id="walletBalance" class="form-check-label" for="flexRadioDefault1">
                                        EC-Shop Wallet
                                    </label>
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" value="Online Payment" type="radio"
                                        name="payment_method" id="">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Online Payment
                                    </label>
                                </div>
                                <input type="hidden" id="price" name="price" value="<%=totalAmount%>">
                                <input type="hidden" id="discount" name="discount" value="">
                                <input type="hidden" id="coupen" name="coupen" value="">
                                <input type="hidden" id="coupen_code" name="coupen_code" value="">
                                <button style="padding: 0.5rem 20rem;" class="btn user-btn mb-5" id="submitOrder">Place
                                    Order</button>


                            </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 mt-3 ms-3">
            <div role="button" id="checkCoupen" class="card user-text p-2 bg-light"style="border-color: #607D8B;border-width: 3px; color: #000;">
                <h4 class="mt-1"><i class="fa-solid ms-3 fa-tags"></i> Check Coupon?</h4>
            </div>
            <div class="card mt-3 mb-4" style="border-color: #607D8B;border-width: 3px; color: #000;">
                <div class="card-header py-3" style="background-color: #fff;">
                    <h5 class="mb-0">Summary</h5>
                </div>
                
                <div class="card-body" style="background-color: #fff;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Products
                            <span>₹<%= fullPrice %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Discount Percentage
                            <span></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Discount Price:
                            <span id="showDiscount"><% offerPrice %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total amount</strong>
                                <strong>
                                    <p class="mb-0">including All taxes</p>
                                </strong>
                            </div>
                            <span><strong><%= totalAmount %></strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            
       
        
        </div>


    </div>
    <div class="coupenss bg-light p-3 card">
        <i style="margin-left: 26rem;" id="back" role="button" class="fa-regular fa-circle-xmark mb-2 text-danger"></i>
        <% coupens.forEach(coupon=> { %>
            <div class="card p-2 mb-2">
                <div class="d-flex justify-content-between align-items-center">
                    <input type="button" value="<%= coupon.coupon_code %>" class="btn btn-sm bg-warning" role="button">
                    <a class="text-decoraton-none fw-bold text-primary" role="button"
                        onclick="applayCoupen('<%= coupon._id %>')">Apply</a>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-success fw-bold">Discount: <%= coupon.discount %>% </p>
                    <p class="fw-bold text-secondary">EXP: <%= coupon.exp_date %><br>
                            <span class="fw-bold text-secondary">Min: ₹<%= coupon.min_amount %></span>
                    </p>
                </div>
                <p class="text-secondary description fw-normal">
                    <%= coupon.discription %>
                </p>
                <div role="button" class="text-primary know-more h6">show more</div>
                <div role="button" class="text-primary know-less h6">show less</div>
            </div>
            <% }); %>
    </div>

</body>

</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log('DOM content loaded');

        const submitOrder = document.getElementById('submitOrder');

        if (submitOrder) {
            submitOrder.addEventListener('click', async (e) => {
                e.preventDefault();
                console.log('Submit button clicked');

                let form = document.getElementById('orderForm');

                if (form) {
                    let formData = new FormData(form);
                    const body = Object.fromEntries(formData);
                    console.log(body);

                    try {
                        const response = await fetch('/cart/place-order', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(body),
                        });

                        console.log('Response from /cart/place-order:', response);

                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }

                        // Inside the try block after fetching response from /cart/place-order
                        const data = await response.json();
                        console.log(data);

                        if (data.status) {
                            console.log('Razorpay Order Response:', data.order)
                            showRazorpay(data.order, data.user);
                        }

                        if (data.success) {
                            console.log('Order placed successfully');
                            document.getElementById('walletBalance').innerText = data.user_wallet;


                            Swal.fire({
                                icon: 'success',
                                title: 'Order Placed Successfully',
                                text: 'Thank you for your order!',
                            });
                            setTimeout(() => {
                                // Check if the order success page exists
                                location.assign('/cart/order-success');
                            }, 3000);
                        } else {
                            console.error('Order placement failed');

                            if (data.showAlert) {
                                // Display an error message to the user
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Order Placement Failed',
                                    text: data.message || 'An unexpected error occurred. Please try again later.',
                                });
                            } else {
                                // Handle other error scenarios
                                console.log('order', data.order);
                                console.log('user', data.user);
                            }
                        }
                    } catch (error) {
                        console.error('Error placing order:', error);
                        // Display a general error message using SweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An unexpected error occurred. Please try again later.',
                        });
                    }
                } else {
                    console.error('Form element not found');
                }
            });
        }
    });
</script>




<script>
    $(document).ready(() => {
    $('.add-form').hide();
    $('.payment-options').hide();

    $('.description').hide();
    $('.know-less').hide();
    $('.know-more').on('click', () => {
        $('.description').show();
        $('.know-more').hide();
        $('.know-less').show();
    });
    $('.know-less').on('click', () => {
        $('.description').hide();
        $('.know-more').show();
        $('.know-less').hide();
    })})

    $('.coupenss').hide();
    $('#checkCoupen').on('click', () => {

        $('.coupenss').show();
        $('#proceedPayment').hide();
        $('#submitOrder').hide();

    });
    $('#back').on('click', () => {
        $('.coupenss').hide();
        $('#proceedPayment').show();
        $('#submitOrder').show();
    });



    // apply coupen 
    applayCoupen = async (id) => {
        // /cart/checkout
        let total = document.getElementById('price').value;
        console.log('Total Element:', total);
        await fetch(`/cart/checkout?coupen=${id}&total=${total}`)
            .then((response) => response.json())
            .then(data => {
                if (data.success) {
                    const newTotalAmount = data.total;
                    const productsElement = document.querySelector('.list-group-item:nth-child(1) span');
                    const shippingElement = document.querySelector('.list-group-item:nth-child(2) span');
                    const Showdiscount = document.getElementById('showDiscount')
                    const totalAmountElement = document.querySelector('.list-group-item:nth-child(4) span strong');
                    let price = document.getElementById('price');
                    price.value = newTotalAmount
                    let coupen = document.getElementById('coupen');
                    coupen.value = id;
                    let discount = document.getElementById('discount');
                    discount.value = data.discount
                    let coupen_code = document.getElementById('coupen_code');
                    coupen_code.value = data.coupen_code
                    productsElement.textContent = `₹${total}`;
                    shippingElement.textContent = `${data.discount}%`;
                    totalAmountElement.textContent = `₹${newTotalAmount}`;
                    Showdiscount.textContent = `₹${data.dis}`
                    console.log(Showdiscount);
                    $('.coupenss').hide();
                    $('#proceedPayment').show();
                    $('#submitOrder').show();

                    Swal.fire({
                        icon: 'success',
                        title: 'Coupon Applied!',
                        text: `Discount of ${data.discount}% applied. New total: ₹${newTotalAmount}`,
                    });

                } else {
                    Swal.fire(
                        'Oops',
                        `You need a minimum purchase of ₹${data.min_amount} to apply this coupon.`,
                        'error'
                    );

                }
            })
    }

</script>
<script>
    const proceedPayment = document.getElementById('proceedPayment');
    if (proceedPayment) {
        proceedPayment.addEventListener('click', (e) => {
            e.preventDefault;
            $('#proceedPayment').hide();
            $('.payment-options').slideDown();
        })
    }
</script>

<script>
    // Define the showRazorpayFunction to avoid conflicts
    const showRazorpay = (order, user) => {
        console.log('showRazorpayFunction called');
        // Razorpay Options
        var options = {
            "key": "rzp_test_2e8RlQcLpjetq9",
            "amount": order.amount,
            "currency": "INR",
            "name": "EC-Shop",
            "description": "Test Transaction",
            "order_id": order.id,
            "handler": function (response) {
                verifyPayment(response);
            },
            "prefill": {
                "name": user.user_name,
                "email": user.user_email,
                "contact": user.user_mobile
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#2ade99"
            }
        };

        // Create Razorpay instance and open
        var rzp1 = new Razorpay(options);
        console.log('Razorpay Instance:', rzp1);
        rzp1.open();

        // Handle payment failure
        rzp1.on('payment.failed', function (response) {
            swal.fire("Failed!", response.error.description, "error")
                .then(() => {
                    location.assign('/');
                });
        });
    };

    verifyPayment = async (response) => {
        
        console.log('verified')
        await fetch('/cart/verify-payment', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(response)
        }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('hihi')
                    location.assign('/cart/order-success')
                }
            })
    }

</script>
<style>
    .coupenss {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        width: 30rem;
        box-shadow: 0px 0px 20px #ccc;
    }
</style>
<script>
    // Your code here
    document.getElementById('addAddress').addEventListener('click', function () {
        var addressDetails = document.getElementById('addressDetails');
        if (addressDetails.classList.contains('d-none')) {
            addressDetails.classList.remove('d-none');
            addressDetails.classList.add('d-block'); // Corrected class
        } else {
            addressDetails.classList.add('d-none');
            addressDetails.classList.remove('d-block'); // Corrected class
        }
    });
</script>


</body>

</html>