<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Add these lines in the head section of your HTML file -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Add these lines in the head section of your HTML file -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <title>Document</title>
</head>
<body>
    



  <style>
     :root {
--background: aqua;
--text-color: aqua;
--white: rgb(106, 243, 143);
--user-backhround: rgba(107, 199, 171, 1);
}

.blue-secondary {
color:aqua;
font-size: 1.2rem;
font-family: Roboto;
}
.button-cancel {
background-color: var(--background) !important;
}

.add-btn {
background-color: var(--text-color) !important;
color: var(--white) !important;
cursor: pointer !important;
}
.text-second {
color: var(--text-color) !important;
}

.ladels a {
text-decoration: none;
color: var(--text-color);
}
.search a {
color: var(--text-color);
font-size: 1.5rem;
}


.user-nav {
position: sticky;
top: 0;
z-index: 4;
background-color: var(--white);
}
.search-box {
background-color: var(--background);
border-radius: 5px;
width: 20rem;
border: none;
padding: 5px;
outline: var(--text-color);
}
.prof-div {
z-index: 6;
right: 4.5rem;
top: 3rem;
}
.account,
.account a {
background: var(--user-backhround);
color: var(--white) !important;
text-decoration: none !important;
}

.image-container {
width: 500px;
height: 500px;
position: relative;
overflow: hidden;
}
#primary-img-view {
width: fit-content;
min-width: 200px;
position: absolute;
left: 50%;
right: 50%;
top: 50%;
transform: translate(-50%, -50%);
pointer-events: none;
}
.add-to-wish-list-btn {
position: absolute;
right: 20px;
top: 20px;
font-size: 25px;
z-index: 2;
}
.wallet-history {
max-height: 170px;
overflow-y: scroll;
padding: 10px;
}
.wallet-history::-webkit-scrollbar {
width: 7px;
background-color: rgb(173, 173, 173);
border-radius: 10px;
}
.wallet-history::-webkit-scrollbar-thumb {
background: #2d6b5e;
border-radius: 10px;
}
</style>
<%- include('../partials/user-header.ejs') %>
<script>
      
    $(document).ready(function () {
      $("#btnn").click(function () {
        $("#prof-div").toggle();
      });
    });
  
  </script>

  <div class="container">
    <div class="main-body"style="margin-top:6%">
    
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <form action="/profile/update/image/<%= user._id %>" method="post" enctype="multipart/form-data">
                      <input type="file" id="profileImage" name="profileImage" accept="image/*" style="display: none">
                      <!-- Clickable Image -->
                      <label for="profileImage" style="cursor: pointer;">
                        <img src="/images/user/<%= user.profileImage %>" alt="ProfileImage" class="rounded-circle" width="150">
                      </label>
                      <div>
                      <button type="submit" accept="image/*">Update Image</button>
                    </div>
                    </form>
                    <style>
        /* Basic button styles */
        button {
            background-color: #4CAF50; /* Green */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* Hover effect */
        button:hover {
            background-color: #45a049; /* Darker green */
        }

        /* Animation effect */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        /* Apply animation to the button */
        button {
            animation: fadeIn 0.5s ease;
        }
        .main-body{
          margin-top: 20%;
        }
    </style>
                    
                    <div class="mt-3">
                      <h4><%=user.name%></h4>
                      <p class="text-secondary mb-1"><%=user.email%></p>
                     
                      <p class="text-muted font-size-sm"><%=user.address%></p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                   <a href="/cart/cart"style="text-decoration:null"><h6 class="fa-solid fa-cart-shopping ml-2"></h6>My Cart</h6></a> 
                 
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                     <a href="/order"style="text-decoration:null"><h6 class="fa-solid fa-shop"></i></h6>My Orders</h6></a> 
                
                  </li>
                  
                  
                 
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <%= user.name%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%=user.email%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%=user.number%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Password</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= '*'.repeat(user.password.length) %>
                    </div>
                  </div>
                  <hr>
                  
                  
                  <hr>
                  <div class="row">
                    
                    <div class="col-sm-9 text-secondary">
                      
                     
                      <h3 class="h4 user-text fw-bold mb-3">Manage Addresses</h3>
                      <input id="addAddress" class="btn user-btn" type="button" style="background-color: #4CAF50; color: white;" value="View Address">
                    </div>
                  
                  <script>
                    $(document).ready(function () {
                        console.log("jQuery code is running");
                        $("#addAddress").click(function () {
                            console.log("Button clicked");
                            $(".address-container").toggle();
                        });
                    });
                </script>
                
    <% addresses.forEach(address => { %>
      <div id="hai" class="row card pt-3 mt-2 col-md-8 address-container" style="display:none;">
          <div class="headercont d-flex justify-content-between">
              <div style="width: 5rem;" class="btn btn-sm btn-light">
                  <%= address.address_type %>
              </div>
              <div class="d-flex">
                  <a style="text-decoration: none;" href="/my-address/edit-address/<%= address._id %>"
                      class="edit ms-3 text-primary">Edit</a>
                  <a style="text-decoration: none; cursor:pointer" onclick="delete_Adrs_Alert('<%= address._id %>')"
                      class="edit ms-3 text-danger">Delete</a>
              </div>
          </div>
          <p class="h5"><%= address.address_cust_name %> &emsp; <%= address.phone %></p>
          <p class="text-normal">
              <%= address.house_name %>(H),
              <%= address.locality %>,
              <%= address.area_street %>,
              <%= address.landmark %>,
              <%= address.state %>
              <span class="fw-bold">
                  -<%= address.pincode %>
              </span>
          </p>
      </div>
  <% }); %>
                  
                  </div>
        
       
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="/my-address" style="background-color: #4CAF50; color: white; padding: 10px; text-decoration: none; display: inline-block;border-radius: 10%;">Add Address</a>

                        <a href="/user-profile-edit/<%= user._id %>" class="btn btn-primary">Edit</a>

                    </div>
                  </div>
                </div>
              </div>


              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                      <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                      <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>

    </body>
    </html>

    <style>
        body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
    </style>